<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Projects</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <h1>Add new Project to your system!</h1>
  <p th:if="${dateError!=null}" th:text="${dateError}"></p>
  <form th:action="@{/projects/saveProject}" th:object="${project}" method="post">
    <div class="form-group">
      <label for="titleInput">Title:</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Enter title" th:field="*{title}">
      <label for="dateInput">Project deadline:</label>
      <input type="datetime-local" class="form-control" id="dateInput" th:field="*{deadlineDate}">
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
</body>
</html>