<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <script th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td>Job</td>
            <td>is Working</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody th:each="employee : ${employees}">
        <tr>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td>
                <span th:if="${employee.job==null}">No assigned job </span>
                <span th:if="${employee.job!=null}" th:text="${employee.job.description}"></span>
            </td>
            <td>
                <span th:if="${employee.isWorking}">Yes</span>
                <span th:unless="${employee.isWorking}">No</span>
            </td>
            <td><a th:href="${'/employee/details/' + employee.id}">Details</a></td>
            <td><a th:href="${'/employee/delete/'+employee.id}">Delete</a></td>

<!--            <td><a th:href="${'/knight?id='+knight.id}">Podgląd</a></td>-->
<!--            <td><a th:href="${'/knight/delete/'+knight.id}">Usuń</a></td>-->
        </tr>
        </tbody>
    </table>
    <div class="row">
        <a th:href="@{/employeeForm}">
            Dodaj pracownika
        </a>
    </div>
</div>

</body>
</html>