<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Hi + ${employee.name}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <script th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Hi, <span th:text="${employee.name}"></span>!</h1>
    <p>Your tasks:</p>
    <div th:each=" task : ${tasks}">
        <a th:text="${task.title}"></a>
    </div>




</div>
</body>
</html>