<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/mainViewStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">

    <a th:href="@{/employees}">
        <div class="goTo">
            <p>Go to employees list!</p>
        </div>
    </a>

    <a th:href="@{/tasks}">
        <div class="goTo">
            <p>Go to tasks list!</p>
        </div>
    </a>

</div>
</body>
</html>