<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Projects</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
  <script th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand">Employees App</span>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-items">
        <a class="nav-link" th:href="@{/employees}">Employees List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/tasks}">Task List</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" th:href="@{/projects}">Projects List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/finances}">Finances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/employeeForm}">Add new employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/projectForm}">Add new project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/taskForm}">Add new task</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <td>Title</td>
      <td>Deadline Date</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody th:each="project : ${projects}">
    <tr>
      <td th:text="${project.title}"></td>
      <td th:text="${project.deadlineDate}"></td>
      <td><a th:href="${'addTaskToProject/' + project.id}">Assign tasks to this project</a></td>
      <td><a th:href="${'projectDetails/' + project.id}">Details</a></td>
      <td><a th:href="${'/project/delete/'+project.id}">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>