<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Task</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
  <script th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <td>Task Description</td>
      <td>Number of Left Contactors</td>
    </tr>
    </thead>
    <tbody th:each="task : ${tasks}">
    <tr>
      <td th:text="${task.description}"></td>
      <td th:text="${task.numberOfLeftContractors}"></td>
      <td><a th:href="${'/task/delete/'+task.id}">Delete</a></td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <a th:href="@{/taskForm}">
      Add new Task
    </a>
    <a th:href="@{/}">
      Go to main page
    </a>
  </div>
</div>

</body>
</html>