<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>List of Incomes</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
  <script th:src="@{webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand">Employees App</span>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" th:href="@{/employees}">Employees List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/tasks}">Task List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/finances}">Finances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/costs}">Costs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/incomes}">Incomes</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <td>ID</td>
      <td>Amount</td>
      <td>Source</td>
      <td>Month</td>
      <td>Year</td>
      <td></td>

    </tr>
    </thead>
    <tbody th:each="income : ${incomes}">
    <tr>
      <td th:text="${income.id}"></td>
      <td th:text="${income.amount}"></td>
      <td th:text="${income.source}"></td>
      <td th:text="${income.month}"></td>
      <td th:text="${income.year}"></td>

      <td><a th:href="${'/income/delete/'+income.id}">Delete</a></td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>